<p>
  <strong>Email addresses:</strong>
  <ul>
    <% email_addresses.each do |email| %>
      <li>
        <%= email.address %>&nbsp;
        <%= link_to 'edit', edit_email_address_path(email) %>&nbsp;
        <%= link_to 'delete', email_address_path(email), method: 'delete' %>
        </li>
    <% end %>
  </ul>
</p>
